<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Genetics</title>

    <!-- boostrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <style>
      img {
        width: 100%;
        max-width: 800px;
      }

      .accordion-button:focus {
        box-shadow: none;
        border-color: rgba(0, 0, 0, 0.125);
      }

      .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    </style>
  </head>
  <body>
    <div class="container mt-3 mb-3">
      <h1>Analyzing Lactose Intolerance with Ancient DNA</h1>
      <p>
        It is time to dive into some ancient DNA! You now have an understanding
        of what SNPs are. We will be looking at 5 lactose intolerance-related
        SNPs in ancient humans. The 5 SNPs are shown in the table below. These
        SNPs are strongly associated with lactase persistence.
      </p>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>SNP</th>
            <th>Alternative Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>rs4954490</td>
            <td>−13495:C>T</td>
          </tr>
          <tr>
            <td>rs41525747</td>
            <td>−13907:C>G</td>
          </tr>
          <tr>
            <td>rs4988235</td>
            <td>−13910:C>T</td>
          </tr>
          <tr>
            <td>rs41380347</td>
            <td>−13915:T>G</td>
          </tr>
          <tr>
            <td>rs145946881</td>
            <td>−14010:G>C</td>
          </tr>
        </tbody>
      </table>

      <p>
        Now, click on the map image below to open the "Interactive World Maps of
        Lactase Persistence" website and select the tab "Genotype Frequencies".
        This map showcases the distribution of the 5 SNPs among modern humans.
        The color represents the most common SNP among the population. Hovering
        on a point tells you the percentage of people with the most common SNP
        (check "Frequency of LP-associated alleles").
      </p>
      <a
        href="https://coblabugr.shinyapps.io/lactasepersistence/"
        target="_blank"
        ><img class="mt-4 mb-4" src="/snpMap.png"
      /></a>

      <p>
        Now that you have explored the 5 SNPs among modern humans, you will now
        observe their distribution among ancient humans. One fact to know about
        ancient DNA is that it is more degraded than modern DNA. All humans have
        23 pairs of chromosomes and for modern humans, we can extract both
        chromosomes of a pair. For ancient humans, often only pieces of each
        chromosome in a pair can be extracted. In cases of DNA degradation,
        ancient DNA scientists create a single pseudo-chromosome from what is
        left of each pair and assume that the pair contained two of these
        pseudo-chromosomes.
      </p>
      <p>
        For your education and exploration, we designed a map containing ancient
        and modern humans from the
        <a
          target="_blank"
          href="https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/FFIDCW"
          >Allen Ancient DNA Resource (AADR)</a
        >. The map can be accessed by clicking on the map image below. Before
        examining the map, please watch the tutorial video provided below. Once
        you start exploring the map, please keep in mind the following
        questions:
      </p>

      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="false"
              aria-controls="collapseOne"
            >
              What is the mechanism by which lactose intolerance occurs?
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              Lactose intolerance occurs when a person consumes a lactose
              containing product (such as milk) even though their body does not
              produce sufficient amounts of lactase, an enzyme that breaks down
              lactose so it can be digested. Undigested lactose enters the large
              intestine and starts to be consumed by bacteria, resulting in
              symptoms such as diarrhea and gas.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              How do genetics influence the presence or absence of lactose
              intolerance?
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              Single nucleotide differences outside of the lactase gene regulate
              the gene. These differences results in people becoming lactase
              persistent, meaning their ability to produce lactase persists
              beyond childhood. In Europeans, there exists a single nucleotide
              difference (T instead of a C). In the Massai population of Africa,
              the single nuclotide difference is a C instead of a G.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              What survival advantages does being able to drink milk provide?
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              Some advantages are as follows:
              <ul>
                <li>
                  Milk reduces exposure to pathogens, due to milk being a
                  relatively uncontaminated food.
                </li>
                <li>
                  Milk helps a person maintain their health, due to milk's being
                  protein and fat rich.
                </li>
                <li>Milk may be the only food available during a famine.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <a href="/map" target="_blank"
        ><img class="mt-4 mb-4" src="/ancientHumanMap.png"
      /></a>

      <div>
        <a href="/genetics" class="btn btn-primary">Previous Page</a>
        <a href="/" class="btn btn-primary">Next Page</a>
      </div>
    </div>
  </body>
</html>
