<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Introduction</title>

    <!-- boostrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <style>
      .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .list-group {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container mt-3 mb-3">
      <h1>Conclusion</h1>
      <p>
        We have reached the end of the website. Let us return back to our
        central question: Why is it that some people have lactose intolerance
        and some people do not?
      </p>
      <p>
        We can answer this question with the help of ancient DNA. Dairy farming
        arose in different ancient groups (ex. Europeans, Africans). Drinking
        milk then became advantageous for survival, due to its high nutritional
        value, relatively low contamination, and availability during famine.
        SNPs that made humans lactase persistent, allowing people to digest
        milk, became more prevalent in future generations of the dairy farming
        communities. In ancient groups that didn't perform dairy farming,
        drinking milk was not advantageous. This prevented lactase persistence
        associated SNPs from becoming more prevalent in future generations. The
        inheritance of these SNPs is responsible for why certain people have
        lactose intolerance and certain people do not.
      </p>
      <p>
        We hope our website has piqued your interest in the field of ancient
        DNA. If you are interested in learning more, please check out the
        resources below. Also, please feel free to provide suggestions or
        corrections using github issues. Thank you for visiting our site!
      </p>

      <h2>Resources</h2>
      <ul class="list-group">
        <li class="list-group-item">
          Check out the paper
          <a
            href="https://pmc.ncbi.nlm.nih.gov/articles/PMC7551416/#app1-nutrients-12-02689"
            target="_blank"
            >"Genetics of Lactose Intolerance: An Updated Review and Online
            Interactive World Maps of Phenotype and Genotype Frequencies"</a
          >. The paper provides a deep dive into the genetics of lactose
          intolerance. The authors of the paper were responsible for the
          "Interactive World Maps of Lactase Persistence" website.
        </li>
        <li class="list-group-item">
          The questions asked about the ancient humans map were inspired by the
          <a
            href="https://www.biointeractive.org/classroom-resources/spread-lactase-persistence-allele"
            target="_blank"
            >"Spread of a Lactase-Persistence Allele" Biointeractive Activity</a
          >.
        </li>
        <li class="list-group-item">
          Check out
          <a href="https://dora.modelrxiv.org/" target="_blank">DORA</a> or
          <a href="https://archeogenomics.eu/en/home" target="_blank"
            >Human AGEs</a
          >, both of which are interactive maps that allow you to explore AADR
          data in more detail.
        </li>
      </ul>

      <a href="/ancientDNA" class="btn btn-primary mt-3">Previous Page</a>
    </div>
  </body>
</html>
